<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<style>
    .btn-white{
        color: 
        background-color: #ffffff;
    }
    .btn-light:hover{
        color: #ffffff;
        background-color: #00dd0d;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .bg-black {
            background-color: #000000;
        }

        .bg-header {
            background-image: url("https://s3.envato.com/files/8a3e546d-ed5a-418d-aa99-45234a172848/inline_image_preview.jpg");
            background-color: #000000;
            min-height: 50vh;
            width: 50%;
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
    <div class="container">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </div>
</head>


<body>
    <section class="w-100 text-center center bg-header">
        <img src="https://cdn.discordapp.com/attachments/456694994670190594/652930351030599685/ifixedthesnakeforyouyayareyouhappyiamtiredok.png" alt="" class="">
    </section>
    <section class="bg-black py-5">

        <div class="container text-center">
            <div class="row py-5">
                <div class="col-lg-6 col-md-6 col-12">
                    <a  href="" class="btn btn-light btn-lg btn-block mb-2">
                        Apply
                    </a>
                </div>
                <p></p>
                <div class="col-lg-6 col-md-6 col-12">
                    <a href="/login" class="btn btn-light btn-lg btn-block">
                        Login
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="w-100 center py-5">
        <div class="container">
            <div class="row py-5">
                <div class="col-lg-6 col-md-6 col-12">
                    <img class="w-100" src="https://cdn.discordapp.com/attachments/456694994670190594/652931248213196808/chart.PNG">
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <p>It takes around 8 minutes and 30 seconds to 10 minutes and 45 seconds in New York for first
                        responders to arrive in life threatening emergencies. It takes 11 minutes and 30 seconds to 18
                        minutes and 25 seconds for first responders to arrive in non-life threatening cases.</p>

                </div>
            </div>
    </section>
    <section class="text-center">
        <p style="font-size: 30px;">Partners</p>
    </section>
     <div class="container">  
        <div class="row d-flex justify-content-around">
                <img class="col-lg-2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5b/Star_of_life2.svg/1200px-Star_of_life2.svg.png">
                <img class="col-lg-2" src="https://myrealdomain.com/images/firefighter-symbol-clipart-2.jpg">
                <img class="col-lg-2" src="https://www.abilenetx.gov/Home/ShowPublishedImage/22349/637032767334530000">
            
        </div>
        <div class="row d-flex justify-content-around">
            
            <img class="col-lg-2" src="http://prestonetwork.org/ESW/Images/VenturaCountyEMS.jpg">
            <img class="col-lg-2" src="https://www.stickershoppe.com/mm5/graphics/00000001/827-1681.jpg">
            <img class="col-lg-2" src="https://mountainlakesems.org/assets/design/logo.png">
            
        </div>
    </div> 
    <section class=" mt-3 bg-black py-5">

            <div class="container text-center">
                <div class="row py-5">
                    <div class="col-lg-6 col-md-6 col-12">
                        <a  href="" class="btn btn-light btn-lg btn-block mb-2">
                            Apply
                        </a>
                    </div>
                    <p></p>
                    <div class="col-lg-6 col-md-6 col-12">
                        <a href="/login" class="btn btn-light btn-lg btn-block">
                            Login
                        </a>
                    </div>
                </div>
            </div>
        </section>
    













    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>